@font-face {
    font-family:"Pt Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family:"Pt Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height:100%;
    }

body {
    margin: 0;
    display:flex;
    flex-direction: column;
    min-height: 100%;
    font-family:"Pt Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #FFFFFF;
    flex-grow: 1;
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

/* шапка с навигацией */

.container {
    margin: 0 auto;
    width: 1058px;

}

.navigation {
    display:flex;
    width: 1060px;
    margin: 0 auto;
    }

.navigation-list {

    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
.navigation-item {
    padding: 20px 17px;
}
.navigation-search {
    max-width: 300px;
    margin-left: auto;

}
.navigation-search .navigation-link {
    min-width: 23px;
    min-height: 27px;
}

.navigation-link {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    }

.navigation-search .navigation-item:nth-of-type(3) .navigation-link{
    display: block;
    color: #FFFFFF;
    background-color: #756257;
    font-size: 16px;
    /* line-height: 20px; */
    text-transform: uppercase;
    padding: 9px 0;
    border-radius: 5px;
    width: 160px;
    }

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
}
/* BUTTONS effects */
.navigation-icon-effect:hover {
    fill: #756257; 
    color: #756257;
}
.navigation-icon-effect:active {
    fill: rgba(117, 98, 87, 0.3); 
    color: rgba(117, 98, 87, 0.3);
}
/*  */
.navigation-search .navigation-item:nth-of-type(3) .navigation-link:hover {
    background-color: #615048;
}
.navigation-search .navigation-item:nth-of-type(3) .navigation-link:focus {
    background: #615048;
    box-shadow: inset 0 0 0 3px #83B3D3;
    outline: none;
}
.navigation-search .navigation-item:nth-of-type(3) .navigation-link:active {
    background-color: #615048;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
}
/* СЕДОНА описание */

.main-index {
    color: #000000;
    background-color: #FFFFFF;
    background-image:  url("../images/head/index-background.jpg");
    background-repeat: no-repeat;
}
/* логотип на фоне */
.logo-welcome-sedona {
    display: block;
    margin: 52px auto;
}

.header {
    text-align: center;
    line-height: 36px;
    }

.header-main {
    margin-top: 150px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    }
.five-reasons {
    font-weight: 400;
    font-size: 22px;
    color: #333333;
    margin-bottom: 79px;
}

/* Настоящий городок №1 */

.reason {
    display:flex;
        color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
}
.reason-number {
    margin: 25px auto;
}
.block-description {
    width: 400px;
    padding-top: 98px;

}

.real-city {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    }


/*  Жилье, еда, сувениры */
.service-list {
    display: flex;
    margin: 0;
    padding: 0;
    
}
.service-item,.advantages-item {
    width: 400px;
    list-style-type: none;
    padding-top: 89px;
    padding-bottom: 79px;
}
.service-description,.advantages-description {
    margin-bottom: 0;
}
.service-list .service-item:nth-of-type(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

.service {
    text-align: center;
    /* padding-top: 80px;
    padding-bottom: 80px; */
}

.service-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    
}

/* Мост дьявола №2 */

.advantages-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.advantages-list .advantages-item:nth-of-type(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item+.advantages-item {
    background-color: rgba(131, 179, 211, 0.2);
}
.devils-bridge {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    }

/*  преимущества №3 №4 №5 */

.advantages {
    text-align: center;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

/* ЗАИНТЕРЕСОВАЛИСЬ */

.intresting {
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    padding: 90px 0;
}
.intresting-header {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    
}
.intresting-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #756257;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 575px;
    padding: 15px 0;
    border-radius: 10px;
    }
.intresting-description {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 56px;
}    

/* Начало футера
ПОДПИШИТЕСЬ НА РАССЫЛКУ */

.page-footer {
    text-align: center;
}

/* Блок футера  */
.block-footer {
    width: 100%;
    margin: 0 auto;
    align-items: baseline;
}
.flex-container {
    display: flex;
    margin: 11px 0;
    align-items: center;
}

.footer-social {
    width: 110px;
}

.footer-social-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.button-social {
    position: relative;
    display: block;
    padding-right: 40px;
    text-align: center;
}
.button-icon-social {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #83B3D3;
}

.button-icon-social:hover {
    fill: #68A2CA;
}
.button-icon-social:focus {
    box-shadow: inset 0 0 0 3px #83B3D3;
    border-radius: 10px;
}

.section-footer {
    color: #FFFFFF;
    background-color: #83B3D3;
    background-image: url(../images/footer/background-footer.jpg);
    padding: 86px 0;
}

.distribution {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.distribution-form {
    display: flex;
    justify-content: center;
    min-height: 60px;
}

.catalog-distribution {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    background-color: #FFFFFF;
    text-transform: uppercase;
}

.catalog-distribution-description {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    background-color: #FFFFFF;
}

.distribution-description {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;

    }

/* Телефон и ссылка на Академию */

.html-academy-link {
    display: block;
    box-sizing: border-box;
    width: max-content;
    padding: 19px 23px;
}

.contact-phone:hover,.button-html-academy:hover{
    fill: rgba(117, 98, 87, 1);
    color: rgba(117, 98, 87, 1);
}
.contact-phone:focus,.button-html-academy:focus{
    box-shadow: inset 0 0 0 3px #83B3D3;
    border-radius: 10px;
    outline: none;
}
.contact-phone:active,.button-html-academy:active{
    fill: rgba(117, 98, 87, 0.3); 
    color: rgba(117, 98, 87, 0.3); 
    box-shadow: none;
    outline: none;
}
.footer-html-academy {
    max-width: 120px;
    }

.footer-tel {
    width: 100%;
}

.contact-phone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 15px;
}

.field {
    box-sizing: border-box;
    width: 600px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    border: none;
    border-radius: 10px 0 0 10px;
}

.button-subscribe {
    box-sizing: border-box;
    width: 200px;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
input[placeholder]{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    padding-left: 22px;
}

/* стилизация catalog */
/* шапка */

.inner-header {
    color: #FFFFFF;
    background-color: #3F5E72;
    background-image: url(../images/head/catalog-background.jpg);
    padding-left: 71px;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding-top: 30px;
}

/* фильтр гостиниц */
.breadcrumbs {
    margin: 0;
    display: flex;
}

.breadcrumbs-link {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

/* создание флекса фильтра */
.block-catalog-filter {
    display: flex;
    margin-top: 45px;
    padding-bottom: 83px;
}
.catalog-filter-group {
    margin: 0;
    padding: 0;
}

.catalog-filter-title {
    width: 150px;
    margin-right: 67px;
}

.container-button {
    margin-top: auto;
}
.button-list {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: auto;
}


.catalog-filter {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.catalog-filter-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.button-submit{
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
}

.button-reset{
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    }

/* Блок с сортировкой гостиниц */

.find-hotel {    
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
}

.select-control {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-left: auto;
}

/* блок с поиском гостиниц */
.block-find-hotel {
    width: 1057px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.button-list-view {
    display: flex;
    width: 160px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Карточки с гостиницами */

.hotel-list {
    display: grid;
    grid-template-columns: repeat(3, 339px);
    padding: 0;
    list-style-type: none;
    gap: 10px;
}
/* сетка самих карточек */

.hotel-card {
    display: grid;
    width: 339px;
    grid-template-columns: 139px 160px;
    row-gap: 16px;
    margin: 20px;
}
.hotel-card-link {
    grid-column: 1/-1;
}
.stars {
    display: flex;
    padding: 0;
    align-items: center;
    }
.star {
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background-image: url(../images/index/Star.svg);

}    


.hotel-card-type {
    min-width: 134px;
}

.hotel-card-link {text-decoration: none;}

.hotel-card-title { 
    color: #000000;
    background-color: #FFFFFF;   
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin: 0;
    }

/* загрузить ещё */
 .load-more {
     display: block;
     margin: 0 auto;    
} 
.load-more-box {
    margin: 30px 218px;
}
li span {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.hotel-price {
    margin-left: 15px;
}
.hotel-more-button {
    color: #FFFFFF;
    background-color: #756257;
    margin-right: 12px;

}
.hotel-favorite-button {
    color: #FFFFFF;
    background-color: #83B3D3;
    margin-left: 13px;
}
.hotel-more-button,
.hotel-favorite-button  {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;

}
.rating {
    color: #000000;
    background-color: #F2F2F2;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

.load-more {
    font-family: "Pt Sans", sans-serif;
    color: #FFFFFF;
    background-color: #83B3D3;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    }

/* страницы */

.block-pagination {
    display: flex;
    padding: 30px 72px;
    align-items: baseline;
    }
.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.pagination-item:not(:first-child) {
    margin-left: 8px;   
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding: 14px 16px;
    background-color: #83B3D3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.hotel-on-page {
    margin-left: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.select-page-hotel {
    margin-left: 51px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
