@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Pt Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.shadow {
  display: block;
  width: 1200px;
  background-color: #FFFFFF;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

/* шапка с навигацией */

.container {
  position: relative;
  width: 1068px;
  margin: 0 auto;
}

.container-catalog {
  margin: 0 5px;
}

.logo {
  line-height: 0;
  z-index: 1;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  margin: 0;
  padding-left: 31px;
  align-items: center;
  list-style-type: none;
}

.navigation-item {
  position: relative;
  padding: 20px 17px;
}

.navigation-search {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin-left: auto;
  list-style-type: none;
}

.navigation-search .navigation-item {
  padding: 0;
}

.navigation-search .navigation-item:not(:last-child) {
  margin-right: 21px;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.for-like::after {
  content: "12";
  position: absolute;
  top: -6px;
  right: -15px;
  display: inline-flex;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: none;
}

.button-general {
  width: 160px;
  margin-left: 12px;
  padding: 9px 34px;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  border-radius: 5px;
}

.navigation-icon {
  margin: auto;
  fill: #000000;
}

/* эффекты кнопок */

.navigation-link:hover,
.navigation-link:hover .navigation-icon {
  fill: #756257;
  color: #756257;
}

.navigation-link:active,
.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
  color: rgba(117, 98, 87, 0.3);
  box-shadow: none;
}

.navigation-link:active .for-like::after {
  color: #a4cb85;
}

.button-general:hover {
  color: #ffffff;
  background-color: #615048;
}

.button-general:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.button-general:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  box-shadow: none;
  outline: none;
}

/* СЕДОНА описание */

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.head-fon {
  position: relative;
  top: -3px;
  width: 100%;
  height: 485px;
  background-image:  url("../images/head/index-background.jpg");
  background-color: #41759d;
  background-repeat: no-repeat;
}
/* логотип на фоне */

.logo-welcome-sedona {
  display: block;
  margin: 0px auto;
  padding-top: 52px;
}
.banner::after {
  position: absolute;
  top: 429px;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/head/divider.png");
  background-repeat: no-repeat;
}
.header {
  line-height: 36px;
  text-align: center;
}

.header-main {
  margin-top: 58px;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.five-reasons {
  font-weight: 400;
  font-size: 22px;
  margin: 33px 0 77px 0;
  color: #333333;
}

/* Настоящий городок №1 */

.reason {
  display:flex;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
}

.reason-number {
  margin: 30px auto;
}

.reason-description {
  display: block;
  width: 220px;
  min-height: 63px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.service-description {
  display: block;
  width: 250px;
  margin: 0 auto;
}
.block-description {
  width: 400px;
  padding-top: 98px;
}

.real-city {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

/*  Жилье, еда, сувениры */

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.service-item,.advantages-item {
  width: 400px;
  padding-top: 86px;
  padding-bottom: 84px;
  list-style-type: none;
}

.service-description,.advantages-description {
  margin-bottom: 0;
}

.service-list .service-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.service {
  text-align: center;
}

.service-title {
  margin: 19px auto;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* Мост дьявола №2 */

.advantages-list {
  min-height: 384px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-list .advantages-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item+.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.devils-bridge {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

/*  преимущества №3 №4 №5 */

.advantages {
  text-align: center;
}

.advantages-title {
  margin-top: 13px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-number {
  margin: 29px 0;
}

/* ЗАИНТЕРЕСОВАЛИСЬ */

.intresting {
  margin: 91px 0;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.intresting-header {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.intresting-link {
  display: block;
  width: 575px;
  margin: 55px auto 0;
  padding: 13px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 10px;
  text-decoration: none;
}

.intresting-description {
  margin: 0 auto;
  margin-right: 7px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Начало футера
ПОДПИШИТЕСЬ НА РАССЫЛКУ */

.page-footer {
  text-align: center;
}

/* Блок футера  */

.block-footer {
  width: 100%;
  margin: 0 auto;
  align-items: baseline;
}

.flex-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
  width: 130px;
}

.footer-social-list {
  width: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
/* бокс для социальных сетей  */

.footer-social-link {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
}

.button-icon-social {
  align-self: center;
  justify-content: center;
  fill: #83b3d3;
}

.footer-social-link:hover .button-icon-social {
  fill: #68a2ca;
}

.footer-social-link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.section-footer {
  display: inline-block;
  width: 100%;
  min-height: 411px;
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url(../images/footer/background-footer.jpg);
}

.section-footer-catalog {
  color: #000000;
  background-image: none;
  background-color: #ffffff;
}

.distribution {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.distribution-index {
  margin-top: 93px;
  margin-bottom: 29px;
}

.distribution-catalog {
  margin-top: 36px;
  margin-bottom: 45px;
}

.distribution-form {
  display: flex;
  min-height: 60px;
  justify-content: center;
}

.catalog-distribution {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.catalog-distribution-description {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.distribution-description {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 44px;
}

/* Телефон и ссылка на Академию */

.html-academy-link {
  display: inline-flex;
  width: 160px;
  min-height: 70px;
  align-items: center;
  justify-content: center;
}

.contact-phone {
  display: inline-flex;
  width: 361px;
  min-height: 70px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.contact-phone:hover,
.html-academy-link:hover .button-html-academy{
  fill: rgba(117, 98, 87, 1);
  color: rgba(117, 98, 87, 1);
}

.contact-phone:focus,
.html-academy-link:focus{
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
  outline: none;
}

.html-academy-link:active{
  box-shadow: none;
}

.contact-phone:active,
.html-academy-link:active .button-html-academy{
  fill: rgba(117, 98, 87, 0.3);
  color: rgba(117, 98, 87, 0.3);
  outline: none;
  box-shadow: none;
}

.footer-html-academy {
  max-width: 120px;
  margin-right: 26px;
}

.footer-tel {
  width: 720px;
  margin-left: 15px;
}

.field {
  width: 600px;
  padding-left: 22px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  box-shadow: inset 0 0 0 2px #83b3d3;
  outline: none;
}

.field:invalid {
  outline: none;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #ff5757;
}

.button-subscribe {
  box-sizing: border-box;
  width: 200px;
  text-align: center;
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

/* стилизация каталога*/

.inner-header {
  position: relative;
  top: -3px;
  min-height: 408px;
  color: #ffffff;
  background-image: url(../images/head/catalog-background.jpg);
  background-color: #3f5e72;
}

.inner-header-title {
  font-size: 60px;
  line-height: 74px;
  font-weight: 700;
  margin: 0;
  padding-top: 36px;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 4px;
  background-color: #756257;
}

/* фильтр гостиниц */

.breadcrumbs {
  position: absolute;
  top: 103px;
  left: 2px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 13px;
  list-style-type: none;
}

.breadcrumbs-link {

  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding: 2px 6px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

.home-icon {
  fill: #ffffff;
}

.home-icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.home-icon:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:first-of-type::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 27px;
  width: 8px;
  height: 8px;
  background-image: url("../images/head/nav-link.svg");
  background-repeat: no-repeat;
}

/* создание флекса фильтра */

.block-catalog-filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 62px;
}

.catalog-filter-group:nth-of-type(3) {
  margin-left: 95px;
}

.range {
  margin-top: 6px;
}

.catalog-filter-group {
  width: 90px;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  width: 150px;
  margin-right: 67px;
  margin-bottom: 29px;
  padding: 0;
}

.container-button {
  margin-top: auto;
}

.button-list {
  text-align: center;
  list-style-type: none;
  margin-top: 60px;
  margin-left: auto;
  padding-left: 1px;
}

.catalog-filter {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  max-width: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 13px;
}

/*Фильтр услуг */

.control {
  position: relative;
  display: block;
  padding-left: 40px;
  cursor: pointer;
}
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control-mark:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.control:active .control-mark {
  box-shadow: none;
  opacity: 0.3;
}

/* чекбоксы */

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url("../images/index/check.svg");
}

  /* радио-кнопка */

.control-input[type="radio"] +.control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
}

/*слайдер */

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin: 0 auto;
  margin-top: 27px;
  background-color: #919699;
}

.range-bar {
  position: absolute;
  width: 227px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 0 solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs{
  display: flex;
}

.catalog-filter-label {
  position: relative;
  display: flex;
  font-family: "Pt sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.range-input {
  width: 120px;
  height: 44px;
  padding-left: 17px;
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  -webkit-appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.catalog-filter-label:first-child .range-input{
  border-radius: 4px 0px 0px 4px;
}

.catalog-filter-label:last-child .range-input{
  border-radius: 0px 4px 4px 0px;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.range-input:focus {
  box-shadow: inset 0px 0px 3px #81b3d2;
  border-color: #81b3d2;
  outline: none;
}

.range-input:active {
  background-color: #756257;
  box-shadow: none;
  border-color: #ffffff;
}

.min-price,.max-price {
  position: absolute;
  right: 13px;
  top: 12px;
  opacity: 0.3;
}

.button-submit {
  margin-bottom: 9px;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  padding: 14px 29px;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #68a2ca;
}

.button-submit:focus {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 3px #ffffff;
  outline: none;
}

.button-submit:active {
  color: #95BEDA;
  background-color: #68a2ca;
  box-shadow: none;
}

.button-reset {
  padding: 12px;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.button-reset:active {
  opacity: 0.3;
  box-shadow: none;
}

/* Блок с сортировкой гостиниц */

.find-hotel {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.find-hotel::after {
  content: "38";
  margin-left: 7px;
}

.container-control {
  width: 287px;
  min-height: 48px;
  margin-left: 132px;
}

.select-control {
  width: 100%;
  margin-left: auto;
  padding: 12px 19px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  background-image: url("../images/index/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.select-control:active {
  opacity: 0.3;
  border: 2px solid #e6e6e6;
}

/* блок с поиском гостиниц */

.block-find-hotel {
  display: flex;
  width: 1057px;
  margin-bottom: 24px;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.button-list-view {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: end;
}

.button-item {
  width: 48px;
  height: 48px;
  margin: 4px;
}

.button-item:last-child {
  margin-right: 0;
}

.card-grid-toggle {
  display: block;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  box-shadow: inset 0 0 0 2px #e6e6e6;
  border-radius: 4px;
}

.card-grid-toggle:hover {
  box-shadow: inset 0 0 0 2px #83b3d3;
}

.card-grid-toggle:focus {
  box-shadow: inset 0 0 0 2px #83b3d3;
  outline: none;
}

.card-grid-toggle:active {
  box-shadow: inset 0 0 0 2px #000000;
}

.button-tile {
  background-image: url("../images/index/mode-tile.svg")
}

.button-sketch {
  background-image: url("../images/index/mode-slideshow.svg")
}

.button-lists {
  background-image: url("../images/index/mode-list.svg")
}

/* Карточки с гостиницами */

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 339px);
  margin-bottom: 33px;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  row-gap: 19px;
}

/* сетка самих карточек */

.hotel-card {
  display: grid;
  width: 339px;
  margin: 29px 0px 0px 19px;
  grid-template-columns: 139px 160px;
  row-gap: 10px;
}

.hotel-card-link,
.hotel-card-title {
  grid-column: 1/-1;
}

.hotel-card-image:hover {
  opacity: 0.6;
}


.hotel-card-image:active {
  opacity: 0.3;
}

.button-base:hover {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 1px #756257;
}

.button-base:focus {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 3px #756157;
  outline: none;
}

.button-base:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-more-button:hover {
  background-color: #615048;
}

.hotel-more-button:focus {
  background-color: #615048;
  box-shadow: inset 0 0 0 3px #82b3d3;
  outline: none;
}

.hotel-more-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.stars {
  display: flex;
  padding: 0;
  align-items: center;
}

.star {
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 7px;
  box-sizing: border-box;
  background-image: url(../images/index/Star.svg);
  background-repeat: no-repeat;
}

.hotel-card-type {
  min-width: 134px;
  margin-bottom: 3px;
}

.hotel-card-link {
  line-height: 0;
  margin-bottom: 7px;
}

.hotel-card-link:focus {
  outline-width: 3px;
  outline-color: #68a2ca;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

/* загрузить ещё */

.load-more-box {
  margin-top: 57px;
  padding: 27px 218px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

li span {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.hotel-price {
  margin-left: 19px;
}

.hotel-more-button {
  margin-right: 7px;
  color: #ffffff;
  background-color: #756257;
}

.hotel-favorite-button {
  margin-left: 22px;
  color: #ffffff;
  background-color: #83b3d3;
}

.hotel-more-button,
.hotel-favorite-button  {
  padding: 10px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;

}

.rating {
  padding: 10px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 4px;
}

.load-more {
  width: 620px;
  min-height: 60px;
  padding: 0;
  font-family: "Pt Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* страницы */

.block-pagination {
  display: flex;
  padding: 30px 0;
  align-items: baseline;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  list-style-type: none;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

.pagination-item:not(:first-child) {
  margin-left: 8px;
  margin-bottom: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 14px 16px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.hotel-on-page {
  margin-left: auto;
  margin-right: 55px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.page-select {
  display: inline-flex;
  width: 160px;
  min-height: 48px;
}

.select-page-hotel {
  width: 100%;
  padding: 12px 11px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  background-image: url("../images/index/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  appearance: none;
}

.select-page-hotel:hover,
.select-page-hotel:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.select-page-hotel:active {
  opacity: 0.3;
  border: 2px solid #e6e6e6;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  padding: 67px;
}

.modal-title {
  margin: 0;
  margin-bottom: 71px;
  text-transform: uppercase;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  width: 715px;
  min-height: 561px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.field-group {
  position: relative;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.field-group:not(:last-of-type){
  margin-bottom: 39px;
}

.field-date {
  width: 400px;
  height: 50px;
  background-image: url("../images/modal/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.adults,.childs {
  width: 130px;
  height: 48px;
  margin-left: 67px;
  text-align: center;
}

.childs {
  margin-left: 49px;
}

.fields-family {
  position: relative;
}

.form-label-icon {
  position: relative;
}

.field-base {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.field-base[placeholder] {
  padding-left: 22px;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
}

.field-base:hover {
  background-color: #e6e6e6;
}

.field-base:focus {
  outline-color: #83b3d3;
  outline-width: 3px;
}

.field-base:active {
  background-color: #ffffff;
  outline-color: #000000;
  box-shadow: none;
}

.field-base:active::placeholder {
  color: #000000;
  font-weight: 700;
}

.modal-title {
  font-family:"Pt Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 71px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: none;
  background-color: #f2f2f2;
}

.message-input {
  margin: 0;
  padding: 0;
  margin-left: 155px;
  font-family: "Pt Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.message-input-error {
  color: #ff5757;
}

.cross-close{
  fill: #000000;
  position: relative;
  top: 2px;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.modal-close-button:active {
  fill-opacity: 0.3;
  box-shadow: none;
  outline: none;
}

.button-search {
  width: 575px;
  min-height: 60px;
  margin: 0 auto;
  margin-top: 38px;
  padding: 0;
  font-family: "Pt Sans", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
}

.button-quantity {
  position: absolute;
  background-color: transparent;
}

.button-minus {
  right: 93px;
  top: 10px;
  width: 25px;
  height: 25px;
  line-height: 0;
  padding: 0;
  border: none;
}

.button-plus {
  right: 13px;
  top: 11px;
  width: 25px;
  height: 25px;
  line-height: 0;
  padding: 0;
  border: none;
}

.icon-sign {
  fill: rgba(0, 0, 0, 0.3);
}

.button-quantity:hover .icon-sign {
  fill: #000000;
}

.button-quantity:focus {
  outline-color: #83b3d3;
  outline-width: 3px;
}

.button-quantity:active .icon-sign {
  fill: rgba(0, 0, 0, 0.2);
}

.button-quantity:active {
  outline: none;
}

.field-base::-webkit-outer-spin-button,
.field-base::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.tooltip {
  position: absolute;
  left: 56px;
  top: 13px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  display: block;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  background-color: #83b3d3;
  border-radius: 50%;
  border: none;
  outline: none;
}

.tooltip-icon {
  color: #ffffff;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-text {
  position: absolute;
  top: 39px;
  right: -116px;
  z-index: 1;
  display: none;
  width: 216px;
  margin-bottom: 6px;
  padding: 20px 18px 22px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;
  background-color: #242424;
  border-radius: 8px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  width: 19px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
  content: '';
  background-image: url("../images/modal/pyramid.svg");
}

img {
  max-width: 100%;
  object-fit: contain;
}

  /* Модальное окно - скрытие */

.modal-container {
  display: none;
}

.message-input {
  display: none;
  position: absolute;
  top: 55px;
}
